* {
    text-align: center;
    font-family: monospace, Courier, 'Courier New', sans-serif;
}

body {
    background-color: #000000;
    font-size: 36px;
}

h1, p {
    color: rgb(26, 220, 128);
}

#currentNumber {
    margin: 35px;
    color: #fafafa;
}

#decrement {
    border-radius: 50%;
    width: 23px;
    height: 24px;
    line-height: 10px;
    transform: scale(1.9);
}

#increment {
    border-radius: 50%;
    line-height: 18px;
    transform: scale(1.9);
}
