* {
    text-align: center;
    font-family: monospace, Courier, 'Courier New', sans-serif;
}

body {
    background-color: #000000;
    font-size: 36px;
}

h1, p {
    color: #1adc80;
}

#currentNumber {
    margin: 35px;
    color: #fafafa;
}

#decrement {
    border-color: #1adc80;
    color: #1adc80;
    background-color: #1adc8138;
    border-radius: 50%;
    width: 23px;
    height: 24px;
    line-height: 0px;
    transform: scale(1.9);
}

#increment {
    border-color: #1adc80;
    color: #1adc80;
    background-color: #1adc8138;
    border-radius: 50%;
    line-height: 18px;
    transform: scale(1.9);
}
